<body id="signIn-body">
    

<h1 style="text-align: center; color: rgb(7, 0, 0);">
    Sign Now 
</h1>
<div id="signIn">
<form id="signIn-form" action="/createSession" method="POST">

    <input type="email" name="email" placeholder="Email" required id="">
    <input type="password" name="password" placeholder="Password"  required id="">
    <input type="submit" value="Sign In" id="signIn-btn">

</form>
</div>

</body>
