<body id="signUp-body">
    

<h1 style="text-align: center; color: rgb(0, 0, 0);">
    Sign Up(Employee)
</h1>
<div id="signUp">
  
<form id="signUp-form" action="/create" method="POST">

    <input type="text" name="name" placeholder="Name" required id="">
    <input type="email" name="email" placeholder="Email" required id="">
    <input type="text" name="company" placeholder="Your Company Name" required id="">
    <input type="text" name="idNo" placeholder="Write your Id No. " required id="">
    <input type="password" name="password" placeholder="Password" required id="">
    <input type="password" name="conform_password" placeholder="Conform Password" required id="">
    <input type="submit" value="Sign Up" id="signUp-btn">

</form>
</div>

</body>