#interview{
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    background: #a1cdd4;
}
#interview-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#interview-form>input{
    width: 90%;
    margin-top: 20px;
    outline: none;
    border: none;
    height: 40px;
}

#interview-btn{
    background: green;

}

