#profile{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40%;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    height: 400px;
    background: #a1cdd4;
    
}
#profile-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#profile-form>input{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);

}

#profile-btn{
background: green;    
}
